$white: #eff3f5;
$MainColor: #7029b6;

body {
    letter-spacing: 1px;
    box-sizing: border-box;
    font-size: 1em;
    color: #434343;
    overflow: hidden;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

    * {
        padding: 0;
        margin: 0;
        font-weight: normal;
        text-decoration: none;
        list-style: none;
    }

    a {
        cursor: pointer;
    }
}

body,
#app {
    height: 100%;
    width: 100%;
}

// header
.header {
    display: flex;
    width: 100%;
    background-color: #515a6e;
    padding: 10px;
}

.container {
    padding: 30px;
}